.netrwhist
npm-debug.log
config/nvim/spell
config/nvim/shada
vim/vim.symlink/spell/
vim/vim.symlink/plugged/
Brewfile.lock.json
lazy-lock.json
config/kitty/kitty-overrides.conf
db.zo
data*
.aider*
config/nushell/history.txt
config/glzr/glazewm/errors.log
node_modules/
package-lock.json
package.json
config/lazygit/state.yml
config/nvim/lazyvim.json
config/zsh/.zcompdump
config/btop/btop.log
config/pgcli/history
config/pgcli/log
